<?xml version="1.0"?>

<config>
    <modules>
        <Furuta_Erp>
            <version>1.0.0.0</version>
        </Furuta_Erp>
    </modules>
    <global>
        <helpers>
            <furutaerp>
                <class>Furuta_Erp_Helper</class>
            </furutaerp>
        </helpers>
        <models>
        	<furutaerp>
                <class>Furuta_Erp_Model</class>
            </furutaerp>
        </models>
        <events>
			<sales_order_place_after>
				<observers>
					<furutaerp_order_observer>
						<type>model</type>
						<class>furutaerp/observer</class>
						<method>send_order</method>
					</furutaerp_order_observer>
				</observers>
			</sales_order_place_after>
		</events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <furutaerp translate="title" module="furutaerp">
                                            <title>Furuta Erp Settings</title>
                                        </furutaerp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
    	<furutaerp>
    		<settings>
	    		<active>1</active>
	    		<endpoint>/webhook/sales</endpoint>
	    		<timeout>30</timeout>
	    	</settings>
    	</furutaerp>
    </default>
</config>